body {
    font-family: Helvetica;
    margin: 0;
}

/* Content */
.content {
    margin-top: 30px;
    min-height: 80vh;
    width: 1200px;
    margin: 0 auto;
}

a svg,
a span {
    display: inline-block;
}

a span {
    text-align: center;
    justify-content: center;
}

.content .link-page {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.link-page a {
    text-decoration: none;
    color: black;
}

.link-page a:hover {
    text-decoration: underline;
}

.title {
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 50px 0 50px 50px;
    font-size: 30px;
    font-weight: bold;
}

.main-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    height: fit-content;
}

.unlist-filter li a {
    text-decoration: none;
    color: black;
}

.unlist-filter li {
    margin-top: 10px;
    padding-left: 20px;
}

.unlist-filter {
    list-style: none;
    padding: 0;
}

.top-4 {
    margin-top: 40px;
}

.product {
    grid-column: span 3/span 3;
}

.sorting-dropdown {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

#dropdown-name,
#dropdown-filter {
    display: inline-block;
}

#dropdown-name {
    margin-right: 1.5rem;

}

.align-center {
    align-items: center;
}

#dropdown-filter select {
    display: block;
    width: 160px;
    height: 100%;
    padding: 10px 12px 10px 12px;
    border-radius: 6px;
    font-size: 16px;
}

#main-product {
    margin-top: 1.5rem;
}

.grid-product {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.listing-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-bottom: 1rem;
}

.listing-item a:hover {
    text-decoration: underline;
}

.listing-item img {
    background-color: #f6f6f6;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.listing-item .item-price {
    margin-top: 0.5rem;
}
